    #container {
        color:#808080;
        margin:0;
        padding:0;
    }
    .refresh_icon {
        width:auto;
        height:2em;
        float:right;
        padding:0.5em 0.5em 0.5em 0.5em;
    }
    .report_icon {
        width:auto;
        height:1em;
        float:right;
        padding-right:1em;
    }
    .warning_icon {
        width:auto;
        height:0.8em;
        padding-right:1px;
    }
    .time_icon {
        width:auto;
        height:0.8em;
        padding-right:1px;
    }
    .time_status {
        line-height:15px;
        vertical-align:middle;
        padding-top:0.5em;
    }
    .time_content {
        padding-right:10px;
    }
    .instalment_status {
        float:right;
        font-weight:bold;
        padding-right:0.5em;
        font-size:1.2em;
    }
    .canceled {
        color:#5d5d5d;
    }
    .rejected {
        color:#d42818;
    }
    .completed {
        color:#48945f;
    }
    .reported {
        color:#5d5d5d;
    }
    #container a {
        text-decoration:none;
        color:#808080;
        font-weight:normal;
    }
    a:hover, a:link, a:visited, a:active {
        text-decoration:none;
        background:none;
    }
    a {
        display:inline-block;  
        float:right; 
    }
    .extend_icon {
        float:right;
        width:auto;
        height:2em;
        padding:0.3em 0.5em 0.3em 0em;
    }
    .instalment_operation {
        color:#d42818;
        font-weight:bold;
    }
    .user_info {
        padding-top:1em;
    }
    .s1_info, .pos_info, .user_weixin_info{
        line-height:1.2em;
        padding-top:0.5em;
    }
    .user_weixin_info {
        padding-bottom:1em;
    }
    .instalment_action {
        padding-top:1em;
        text-align:center;
    }
    .content {
        padding-right:10px;
    }
    #refreshHeader {
        text-align:center;
        vertical-align:middle;
        line-height:3em;
        font-weight:normal;
        /*border-bottom:solid 1px #d4d4d4;*/
        padding-bottom:0.5em;
        padding-top:0.5em;
        margin-bottom:0px;
    }
    #item_details-popup {
        width:100%;
    }
    ul {
        padding-top:0px;
        padding-left:0px;
        -webkit-margin-before: 0em;
    }
    li {
        padding-left:1.5em;
        padding-top:5px;
        padding-bottom:5px;
        margin:0;
        border-bottom:solid 1px #d4d4d4;
    }
    .cross {
        height:1em;
    }
.ui-grid-a {
    text-align:center; 
    padding-top:0.5em; 
}
    #reported_text {
        text-align:center;
        color:#5d5d5d;
        font-weight:bold;
    }
    #recommend_text {
        text-align:center;
        color:#67b845;
        font-weight:bold;
    }
.operation{
    width:45%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.recommend_icon {
    width:auto;
    height:1em;
    float:right;
    padding-right:1em;
}
#recommend_icon {
    width:auto;
    height:1em;
}
.description {
    text-align:left;
    float:left;
    margin-top:1.4em;
    margin-bottom:0.5em;
    display:none;
}
.request-with-cid, .request-with-cid-appid {
    cursor: pointer;
}
.ui-table td {
        vertical-align: middle;
    }
        .ui-table td:first-child {
            white-space: nowrap;
            /*word-break: break-all;*/
        }
        .ui-table td:nth-child(2) {
            white-space: nowrap;
            /*word-break: break-all;*/
        }
        .ui-table td:last-child {
            white-space: normal;
            word-break: break-all;
        }
    #input-report {
        margin: 0 auto;
        width: 96%;
        height: 200px !important;
    }
    #input-recommend {
        margin: 0 auto;
        width: 96%;
        height: 200px !important;
    }
    .s1_info_details{
        margin: 10px 0;
    }
    .info_details .content:nth-child(2){
        letter-spacing: 0.05em;
    }
    .operation a{
        text-shadow: none !important;
    }
    .survey-check-btn {
        font-size: large;
        color: red;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .report-option-label {
        text-align: center !important;
        width: 85% !important;
        font-size: small !important;
        border-width: 1px !important;
    }
