@import "../common/sass-css3-mixins/css3-mixins.scss";
/*********************************************************/
/*********************displayIou*****************/
html {
	width:100%;
	height:100%;
}
body{
	background-image: url(../../img/background-v.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
#left_column {
	font-weight: bold;
	text-align: center;
	font-size:3em;
	letter-spacing:.25em;
}
#right_column {
	background: url(../../img/stamp.png) 80% 50% no-repeat;
	FILTER: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
	min-height:151px;
}
#IOU_content {
	line-height: 110%;
	font-weight: bold;
	padding-top:10px;
	font-size:4.5em;
}
#identity_content {
	line-height: 110%;
	font-weight: bold;
}
.rotate-origin {
	@include transform-origin('left top');
}
/*********************************************************/
/*********************displayIou end*****************/
